<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Compass- Shipping</title>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css-com/bootstrap.css">
	<link rel="stylesheet" href="/static/css-com/font-awesome.css">
	<link rel="stylesheet" href="/static/css-com/main.css">
	<link rel="stylesheet" href="/static/css-com/jquery.bxslider.css">
	
    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
	</head>
	<body>

<!-- Form Name -->
<div class="navbar navbar-smak navbar-fixed-top navbar-small" id="navbar" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
					<a class="navbar-brand animate" href="#"><img src="/static/img-com/logo5.png" alt="logo1"></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right animate">
						<li><a href="/">Home</a></li>
						<li><a href="/login">login</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>

<!-- Text input--><br><br><br><br>
<form class="form-horizontal" role="form" method="post" action="">
                               {% csrf_token %}    
			{% if form.errors %}
			{{form.errors}}
			 {% endif %}    
<fieldset>

<!-- Form Name -->

<!-- Text input-->
<form role="form" method="post" action="/login">{% csrf_token %}
                            <br/>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                <input type="text" class="form-control" placeholder="User name" {{ form.username }}
                            </div>
                             <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input type="email" class="form-control" placeholder="Enter Email" {{ form.email }}
                            </div>
                             <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                <input type="password" class="form-control" placeholder="Enter Password" {{ form.password1 }}
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                <input type="password" class="form-control" placeholder="Retype Password"  {{ form.password2 }}
                            </div>
                            <div class="form-group">
		  <label class="col-md-4 control-label" for="singlebutton"></label>
		  <div class="col-md-4">
			<button type=submit id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
		  </div>
		</div>
                            </div>
                        </form>
</body>
</html>
