<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>Compass-Shipping</title>
	<!-- viewport meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- styles -->
	<!-- helpers -->
	<link rel="stylesheet" href="/static/plugins-ship/bootstrap/css/bootstrap.min.css">
	<!-- fontawesome css -->
	<link rel="stylesheet" href="/static/plugins-ship/font-awesome/css/font-awesome.min.css">
	<!-- strock gap icons -->
	<link rel="stylesheet" href="/static/plugins-ship/Stroke-Gap-Icons-Webfont/style.css">
	<!-- revolution slider css -->
	<link rel="stylesheet" href="/static/plugins-ship/revolution/css/settings.css">
	<link rel="stylesheet" href="/static/plugins-ship/revolution/css/layers.css">
	<link rel="stylesheet" href="/static/plugins-ship/revolution/css/navigation.css">
	<!-- flaticon css -->
	<link rel="stylesheet" href="/static/plugins-ship/flaticon/flaticon.css">
	<!-- jQuery ui css -->
	<link href="/static/plugins-ship/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
	<!-- owl carousel css -->
	<link rel="stylesheet" href="/static/plugins-ship/owl.carousel-2/assets/owl.carousel.css">
	<link rel="stylesheet" href="/static/plugins-ship/owl.carousel-2/assets/owl.theme.default.min.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/static/plugins-ship/animate.min.css">
	<!-- fancybox -->
	<link rel="stylesheet" href="/static/plugins-ship/fancyapps-fancyBox/source/jquery.fancybox.css">



	<!-- master stylesheet -->
	<link rel="stylesheet" href="/static/css-ship/style.css">
	<!-- responsive stylesheet -->
	<link rel="stylesheet" href="/static/css-ship/responsive.css">




</head>
<body>

<!-- Start header -->
<header id="header" class="stricky">
	<div class="thm-container clearfix">
		<div class="logo pull-left">
			<a href="/">
				<img src="/static/images-ship/logo.png" style="width:80%; height:60%;" alt="">
			</a>
		</div>
		
	</div>
</header>
<!-- End header  -->

<!-- Start mainmenu -->
<nav class="main-menu-wrapper stricky">
	<div class="thm-container menu-gradient ">
		<div class="clearfix">
			<div class="nav-holder pull-left">
				<div class="nav-header">
					<button><i class="fa fa-bars"></i></button>
				</div>
				<div class="nav-footer">
					<ul class="nav">
						<li>
					<a href="/">Home</a>
					
				</li>
						<li>
							<a href="/about/">about us</a>
							
						</li>
						<li>
							<a href="/service/">Services</a>
							
						</li>
						<li>
							<a href="/careers/">Careers</a>
							
						</li>
						<li>
							<a href="/enquiry/">Enquiry</a>
							
						</li>
						
						<li><a href="/contact/">contact us</a></li>
						<li><form method="get" action="/search/" class="search-box-holder">
						<div class="search-box">
						<div class="form">
						<input type="text" style="width:250px; height:50px;" name="q" placeholder="&nbsp;&nbsp;&nbsp;Track Your Shipment">
						<button type="submit"><span>GO</span></button>
						</div>
					</div>
				</form></li>
					</ul>
				</div>
			</div>
							
				
		
		</div>
	</div>
</nav>
<!-- End mainmenu -->


<section class="inner-banner">
	<div class="thm-container">
		<h2>Ship Chandling</h2>
		<ul class="breadcumb">
			<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
			<li><a href="/service">Services</a></li>
			<li><span>Ship Chandling</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding single-service-page">
	<div class="thm-container">
		<div class="row">
		<div class="col-md-12 ">
				<div class="tab-pane fade in active" id="vessel">
					
					<div class="sec-title">
					<h2><span>SHIP CHANDLING</span></h2>
						<p>Our range includes fresh, frozen and dry stores, meat from India’s best quality producers,fruit and vegetables from our farmers and dry stores from local and imported sources. Following is a selection of categories from our extensive provisions list like Diary Goods, Fruits, Vegatables, General Groceries, Imported Food items, Tin food items, Asian goods & spices, Flowers, Dry goods... etc.</p>
						
					</div>
					
				</div>
				</div>
		</div>
	</div>
</section>



<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and cargo</h3>
					<p style="color:black;">Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="/contact/">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section> 


<footer id="footer" class="sec-padding">
 <div class="thm-container">
  <div class="row">
   <div class="col-md-3 col-sm-6 footer-widget">
    <div class="about-widget">
     <a href="/"><img src="/static/images-ship/footer-logo1.png" alt="Awesome Image"/></a>
     
     <ul class="social">
      <li><a href="/facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="/twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
     </ul>
    </div>
   </div>
   <div class="col-md-3 col-sm-6 footer-widget">
    <div class="pl-30">
     <div class="title">
      <h3><span>Our Services</span></h3>
     </div>
     <ul class="link-list">
      <li><a href="/vessel/">Vessel Agency</a></li>
      <li><a href="/custom/">Customs Clearance</a></li>
      <li><a href="/transport/">Transportation</a></li>
      <li><a href="/freight/">Freight Forwarding</a></li>
      <li><a href="/ship/">Ship Chandling</a></li>
      <li><a href="/picorrespondents/">P & I Correspondents</a></li>
     </ul>
    </div>
   </div>
   <div class="col-md-2 col-sm-6 footer-widget">
    <div class="title">
     <h3><span>Quick Links</span></h3>
    </div>
    <ul class="link-list">
     <li><a href="/">Home</a></li>
     <li><a href="/about/">About Us</a></li>
     <li><a href="/service/">Services</a></li>
     <li><a href="/careers/">Careers</a></li>
     <li><a href="/enquiry/">Enquiry</a></li>
     <li><a href="/contact/">Contact Us</a></li>
    </ul>
   </div>
   <div class="col-md-4 col-sm-6 footer-widget">
    <div class="title">
     <h3><span>Quick Contact</span></h3>
    </div>
    <ul class="contact-infos">
     <li>
      <div class="icon-box">
       <i class="fa fa-map-marker"></i>
      </div>
      <div class="text-box">
       <p>P.O BOX: 324 <br> POSTAL CODE: 318 <br> SOHAR, AL FALAJ<br>SULTANATE OF OMAN</p>
      </div>
     </li>
     <li>
      <div class="icon-box">
       <i class="fa fa-phone"></i>
      </div>
      <div class="text-box">
       <p>00968 9142 3785<br>00968  9293 3304</p>
      </div>
     </li>
     <li>
      <div class="icon-box">
       <i class="fa fa-envelope-o"></i>
      </div>
      <div class="text-box">
       <p>operation.manager@compass-ship.com <br>general.manager@compass-ship.com</p>
      </div>
     </li>
     <li>
      
     </li>
    </ul>
   </div>
  </div>
 </div>
</footer>

<section class="bottom-bar">
	<div class="thm-container clearfix">
		<div class="pull-left">
			<p>Copyright © Compass-Shipping 2016. All rights reserved.</p>
		</div>
		<div class="pull-right">
			<p>Created by: Delevere</p>
		</div>
	</div>
</section>

<!-- jQuery js -->
<script src="/static/plugins-ship/jquery/jquery-1.11.3.min.js"></script>
<!-- bootstrap js -->
<script src="/static/plugins-ship/bootstrap/js/bootstrap.min.js"></script>
<!-- jQuery ui js -->
<script src="/static/plugins-ship/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- owl carousel js -->
<script src="/static/plugins-ship/owl.carousel-2/owl.carousel.min.js"></script>
<!-- jQuery appear -->
<script src="/static/plugins-ship/jquery-appear/jquery.appear.js"></script>
<!-- jQuery countTo -->
<script src="/static/plugins-ship/jquery-countTo/jquery.countTo.js"></script>
<!-- jQuery validation -->
<script src="/static/plugins-ship/jquery-validation/dist/jquery.validate.min.js"></script>
<!-- gmap.js helper -->
<script src="http://maps.google.com/maps/api/js"></script>
<!-- gmap.js -->
<script src="/static/plugins-ship/gmap.js"></script>
<!-- mixit up -->
<script src="/static/plugins-ship/jquery.mixitup.min.js"></script>

<!-- revolution slider js -->
<script src="/static/plugins-ship/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/static/plugins-ship/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/static/plugins-ship/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/static/plugins-ship/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/static/plugins-ship/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/static/plugins-ship/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/static/plugins-ship/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/static/plugins-ship/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/static/plugins-ship/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/static/plugins-ship/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/static/plugins-ship/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- fancy box -->
<script src="/static/plugins-ship/fancyapps-fancyBox/source/jquery.fancybox.pack.js"></script>
<!-- type script -->
<script src="/static/plugins-ship/typed.js-master/dist/typed.min.js"></script>

<!-- theme custom js  -->
<script src="/static/js-ship/main.js"></script>



</body>
</html>
